.designer {
    background-color: #f2f2f2;
    &__tools {
        width: 200px;
        margin: 0 40px 40px 40px;
    }
    &__tools-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &__tools-buttons-btn {
        border: 0 solid #f2f2f2;
        cursor: pointer;
        background-color: #f2f2f2;
    }
}

@media @mobile {
    .designer {
        &__tools-buttons {
            margin: 0 0 40px 0;
        }
        &__tools-buttons-btn--mobile {
            opacity: 0.3;
        }
        &__scale-tool {
           width: 240px;
        }
        &__scale {
            width: 240px;
            margin: 0 20px 75px 20px;
        }
        .btn-tablet {
            display: none;
        }
        .btn-desktop {
            display: none;
        }
        &__tools-scales {
            display: none;
        }
        &__buttons {
            padding: 0 0 60px 0;
            height: 125px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        &__buttons-btn--post {
            border: 3px solid #d22856;
            border-radius: 32px;
            color: #d22856;
            font-size: 18px;
            line-height: 18px;
            font-weight: bold;
            padding: 15px 85px;
        }
        &__buttons-btn--cancel {
            border: 3px solid #dddfe0;
            border-radius: 32px;
            color: #dddfe0;
            opacity: 0.8;
            font-size: 18px;
            line-height: 18px;
            font-weight: bold;
            padding: 15px 85px;
        }
        &__photo {
            margin: 0 0 45px 0;
            padding: 20px 0 0 0;
        }
        &__photo-tablet {
            display: none;
        }
        &__photo-desktop {
            display: none;
        }
    }
}

@media @tablet {
    .designer {
        padding: 60px 0 0 0; 
        &__wrapper {
            display: flex;
            padding: 0 0 40px 0;            
        }
        &__photo {
            height: 400px;
            margin: 0 40px 0 0;
        }
        &__wrapper-tools {
            display: flex;
            flex-direction: column;
        }
        &__tools {
            display: flex;
            flex-direction: row;
            margin: 0 0 70px 0;
        }
        &__tools-scales {
            height: 190px;
            margin: 5px 0 0 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__tools-buttons {
            margin: 0 15px 0 0;
            height: 200px;
            display: flex;
            flex-direction: column;
        }
        &__buttons {
            width: 100%;
            height: 135px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        &__buttons-btn--post {
            border: 3px solid #d22856;
            border-radius: 32px;
            color: #d22856;
            font-size: 18px;
            line-height: 18px;
            font-weight: bold;
            padding: 15px 85px;
        }
        &__buttons-btn--cancel {
            border: 3px solid #dddfe0;
            border-radius: 32px;
            color: #dddfe0;
            opacity: 0.8;
            font-size: 18px;
            line-height: 18px;
            font-weight: bold;
            padding: 15px 85px;
        }
        .btn-mobile {
            display: none;
        }
        .btn-desktop {
            display: none;
        }
        &__scale {
            display: none;
        }
        &__photo-mobile {
            display: none;
        }
        &__photo-desktop {
            display: none;
        }
        &__scale {
            display: none;
        }
    }
}

@media @desktop {
    .designer {
        padding: 60px 0 0 0;
        &__wrapper {
            display: flex;
            justify-content: center;
            padding: 0 0 40px 0;
        }
        &__photo {
            margin: 0 100px 0 0;
        }
        .btn-mobile {
            display: none;
        }
        .btn-tablet {
            display: none;
        }
        &__buttons {
            width: 400px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        &__buttons-btn--post {
            width: 180px;
            border: 3px solid #d22856;
            border-radius: 32px;
            color: #d22856;
            font-size: 18px;
            line-height: 18px;
            font-weight: bold;
            padding: 20px 35px;
            text-align: center;
        }
        &__buttons-btn--cancel {
            width: 180px;
            border: 3px solid #dddfe0;
            border-radius: 32px;
            color: #dddfe0;
            opacity: 0.8;
            font-size: 18px;
            line-height: 18px;
            font-weight: bold;
            padding: 20px 35px;
            text-align: center;
        }
        &__scale {
            display: none;
        }
        &__tools {
            height: 200px;
            display: flex;
            margin: 0 0 130px 0;
        }
        &__tools-scales {
            height: 175px;
            margin: 15px 0 0 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__tools-buttons {
            margin: 0 50px 0 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__photo-mobile {
            display: none;
        }
        &__photo-tablet {
            display: none;
        }
    }
}