.down-application {
    width: 100%;
    height: 100%;
    background-image: url(../../img/back-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #fff;

    &__info {
        position: relative;
        width: 300px;
        padding-top: 200px;
    }
    &__info-title {
        font-size: 50px;
        font-weight: 300;
        line-height: 60px;
        color: #fff;
        text-align: center;
        margin-top: 0;
    }
    &__info-button {
        width: 100%;
        color: #fff;
        padding: 15px 30px;
        background-color: transparent;
        border-radius: 32px;
        border: 2px solid #fff ;
        margin-bottom: 65px ;
        font-size: 18px;
        font-weight: bold;  
    }
    &__photos-mobile {
        position: absolute;
        top: 170px;
        left: 0px;
        max-width: 100%;
        max-height: 100%;
        img {
            z-index: 1000;
        } 
    }
    &__photos-tablet {
        position: absolute;
        bottom: 0;
        max-width: 100%;
        max-height: 100%;
        width: 1045px;
        margin: 0 auto;
        background-repeat: no-repeat;
        img {
            z-index: 1000;
        } 
    }
    &__photos-desktop {
        position: absolute;
        bottom: 0;
        left: 200px;
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
        background-repeat: no-repeat;
    }
}

@media @mobile {
    .down-application {
        height: 460px;
        background-position: center;
        &__info {
            position: absolute;
            left: 0;
            top: 460px;
            max-width: 100%;
            width: 320px;
            background-color: #1d2631;
            padding: 30px 0 0 0;
        }
        &__info-title {
            display: none;
        } 
        &__photos-tablet {
            display: none;
        }
        &__photos-desktop {
                display: none;
        }
    }
}

@media @tablet {
    .down-application {
        background-position: center;
        &__photos-tablet {
           overflow: hidden ;
        }
        &__photos-mobile {
            display: none;
        }
        &__photos-desktop {
                display: none; 
        }
    }
}

@media @desktop {
    .down-application {
        &__photos-mobile {
            display: none;
        }
        &__photos-tablet {
                display: none;
        }
    }
}

// width: 100%;
// height: 100%;
// background-image: url(../../img/back-desktop.jpg);
// background-repeat: no-repeat;
// background-size: cover;
// background-position: 0 0;
// color: #fff;