.main-price {
    background-color: #fff;
    &__users-comments-brackets {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 58px;
    }
    &__user-comments__com {
        display: flex;
        justify-content: space-between;
        align-items: center;   
    }
    &__user-comments__com-left-button,
    &__user-comments__com-right-button {
        border: 0 solid #fff;
        background-color: #fff;
        padding: 0; 
    }
    &__user-comments__com-info {
        font-size: 18px;
        line-height: 30px;
        font-weight: 200;
        text-align: center;
        opacity: 0.8;
    }
    &__user-comments__com-person__info {
        font-size: 26px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 12px;
    }
    &__user-comments__com-person__info-ab {
        font-size: 18px;
        font-weight: 100;
        text-align: center;
        opacity: 0.8;
        margin: 0;
    }
    &__table {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../img/Shape\ 2\ copy.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__table-info {
        border-collapse: collapse;
        margin: 0 auto;
    }
    &__table-info__cash-header {
        background-color: #283645;
        color: #fff;
        padding: 25px 35px;
    }
    &__table-info__cash-header:nth-child(1) {
        background-color: transparent;
    }
    &__table-info__cash-header:nth-child(2) {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        border-right: 2px solid #e5e5e5 ; 
    }
    &__table-info__cash-header:nth-child(3) {
        border-right: 2px solid #e5e5e5 ; 
    }
    &__table-info__cash-header:nth-child(4) {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }
    &__table-info__cash-header {
        h5 {
        font-size: 18px;
        line-height: 30px;
        font-weight: 500;
        margin: 0;
        text-transform: uppercase;
        }
    }
    &__table-info__cash-header {
        p {
        font-size: 24px;
        line-height: 40px;
        font-weight: 100;
        margin: 0;
        opacity: 0.8;
        }
    }
    &__table-info__cash-body {
        text-align: center;
        padding: 22px 100px;
        border: 2px solid #e5e5e5;
        border-radius: 2px;  
    }
    &__table-info__cash-info {
        text-align: left;
        padding: 22px 65px 22px 25px;
        border: 2px solid #e5e5e5;
        border-radius: 2px;
        color: #283645; 
    }
    &__slider {
        margin-bottom: 200px;;
    }

}

@media @mobile {
    .main-price {
        position: relative;
        &__users-comments {
            display: flex;
            flex-direction: column-reverse;
        }
        &__slider {
            display: flex;
            justify-content: center;
            margin: 0;
        }
        &__slider-btns {
            width: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;
        }
        .slider-toggle {
            border: 0 solid #fff;
            text-align: center;
            border-radius: 50%;
        }
        &__users-comments-brackets {
            display: none;
        }
        &__user-comments {
            &__com-info {
                font-size: 14px;
                line-height: 30px;
            }
            &__com-left-button {
                display: none;
            }
            &__com-right-button {
                display: none;
                 }
            &__com-person {
                &__info {
                    font-size: 18px;
                    line-height: 30px;
                    margin-top: 0;
                }
                &__info-ab {
                    display: none;
                }
            }
        }
        &__table {
            display: none;
            position: relative;
        }
        &__table-info {
            position: absolute;
            left: -350px;
            width: 100%;
            margin: 0 auto;
        }
    }
}

@media @tablet {
    .main-price {
        &__user-comments {
            &__com-person {
                &__info-ab {
                    margin-bottom: 45px;
                }
            }
            &__com-left-button {
                display: none;
            }
            &__com-right-button {
                display: none;
            }
        }
        &__users-comments-brackets {
            display: none;
        }
        &__table-info {
            width: 100%;
            display: none;
            position: relative;
            margin: 0 0 40px 0;
        }
        &__slider {
            display: flex;
            justify-content: center;
            margin: 0;
        }
        &__slider-btns {
            width: 80px;
            display: flex;
            justify-content: space-between;
            margin: 0;
            padding: 0;
        }
        &__slider-btn {
            .slider-toggle {
                border: 0 solid #fff;
                border-radius: 50%;
            }
        }
        &__table {
            display: none;
        }
    }
}

@media @desktop {
    .main-price {
        &__user-comments {
            &__com-person {
                &__info-ab {
                    margin: 0 0 200px 0 ;
                }
            }
        }
        &__slider {
            display: none;
        }
    }
}