.main-header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(17, 24, 30, 0.8);  
    &__wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 27px;
        padding-bottom: 29px;    
    }
    &__nav {
        display: flex;
        justify-content: space-between;
    }
    &__nav-links {
        display: flex;
        justify-content: space-around;
        list-style: none;
        padding-left: 0;
        font-size: 18px;
        line-height: 18px;
        color: #fff;   
    }
    &__nav-links-item {
        margin-right: 85px;
    }
    &__nav-links {
        a {
            text-decoration: none;
            color: #fff; 
        } 
    }
    &__nav-links-item {
        &:last-child {
            margin-right: 0;
        }
    }
    &__nav-toggle {
        border: 0 solid #fff;
        background-color: rgba(17, 24, 30, 1); 
    }
}

@media @mobile {
    .main-header {
        width: 100%;
        background-color: rgba(28, 37, 48, 0.8);
        &__wrapper {
            width: 100%;
        }
        &__logo-tablet {
            display: none;
        }
        &__logo-desktop {
            display: none;
        }
        &__nav-links {
            display: none;
        }
        
    }
}


@media @tablet {
    .main-header {
        width: 100%;
        background-color: rgba(28, 37, 48, 0.8);
        &__logo-mobile {
            display: none;
            
        }
        &__logo-desktop {
            display: none;
        }
        &__nav-links {
            display: none;
        }
    }
}


@media @desktop {
    .main-header {
        &__logo-mobile {
            display: none;
            
        }
        &__logo-tablet {
            display: none;
        }
        &__menu {
            display: none;
        }
        &__menu-mobile {
            display: none;
        }
        &__nav-toggle {
            display: none;
        }
    }
}







