.posts {
    &__title {
        p {
            font-size: 14px;
            font-weight: lighter;
            line-height: 30px;
            padding: 50px 45px 50px 45px;
        }
    }
    &__panorama-photo {
        width: 100%;
        height: 100%;
    }
    &__panorama-day {
        display: none;
        position: absolute;
        right: 20px;
        bottom: 103px;
        width: 140px;
        padding: 10px 0 10px 0;
        background-color: #d22856;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 24px;
        font-weight: bold;
    }
}

@media @mobile {

}